@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    62% {
        opacity: 1;
    }

    99.99% {
        z-index: 2;
    }

    100% {
        transform: rotate(360deg);
        z-index: -1;
    }
}

@keyframes blink {
  0% {
      background-color: #ccc;
  }

  49% {
      background-color: #ccc;
  }

  50% {
      background-color: transparent;
  }

  99% {
      background-color: transparent;
  }

  100% {
      background-color: #ccc;
  }
}
