@font-face {
    font-family: Monument;
    src: url(../fonts/MonumentExtended-Ultrabold.otf);
}

@font-face {
  font-family: Inter-light;
  src: url(../fonts/Inter-Light.ttf);
}

@font-face {
    font-family: Inter-regular;
    src: url(../fonts/Inter-Regular.ttf);
}

@font-face {
    font-family: Inter-semibold;
    src: url(../fonts/Inter-SemiBold.ttf);
}
