@media(max-width:768px) {

    /* ========= Start Section Hero ========= */
    .section-hero {
        height: 100vh;
        /* padding: 30px 0; */
    }

    .section-hero .hero-image {
        width: 50%;
        margin: 0 auto;
    }

    .section-hero .hero-image:before {
        top: 35%;
        left: 38%;
        font-size: 38px;
    }

    .section-hero .hero-text h1 {
        font-size: 50px;
        text-align: center;
    }


    .section-hero .hero-navigation {
        bottom: 10%;
        left: 0;
        transform: translate(100%, -50%);
        display: none;
    }

    /* ========= End Section Hero ========= */

    /* ========= Start Section Wording ========= */
    .section-wording {
        padding: 0;
    }

    .section-wording p {
        font-size: 18px;
    }

    .section-wording .wording-image {
        margin-top: 30px;
    }

    /* ========= End Section Wording ========= */

    /* ========= Start Section Services ========= */
    .section-services .heading h2 {
        font-size: 2.5rem;
    }

    .section-services .heading p {
        width: 100%;
    }

    .section-services .accordion {
        margin-top: 2rem;
    }

    .section-services .accordion-button {
        font-size: 1.5rem;
        padding: 1.3rem 0;
    }

    /* ========= End Section Services ========= */


    /* ========= Start Section Client ========= */
    .section-client .swiper {
        height: 100%;
    }

    /* ========= Start Section Client ========= */

    /* ========= Start Project ========= */
    .section-project-page {
        padding: 25px 0 50px;
    }
    .section-project-page .project-grid {
        grid-template-columns: repeat(1, 1fr);
        padding-top: 30px;
        margin-left: 0;

    }

    /* ========= End Project ========= */


    /* ========= Start Contact ========= */
    .section-contact-page .social-media-text ul li {
        font-size: 12px;
    }

    .section-contact-page .social-media-text ul li:not(:first-child) {
        margin-left: 1rem;
    }

    .section-contact-page .form-contact {
        margin-top: 2rem;
    }

    .section-contact-page .line {
        margin: 50px 0 25px;
    }

    .section-contact-page .grid-contact-information .grid-item {
        width: 100%;
    }

    .section-project-page .project-grid .project-item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        -o-object-fit: cover;
        height: unset !important;
    }

    .section-contact-page .grid-contact-information {
        grid-template-columns: repeat(1, 1fr);

    }

    /* ========= End Contact ========= */



    /* ========= Start Footer ========= */
    .section-footer .footer-logo {
        margin-bottom: 2rem;
    }

    .section-footer .social-media {
        margin-top: 2rem;
    }

    .div-line {
        margin: 25px 0;
    }

    .section-footer .footer-copyright .copyright-text {
        text-align: center;
        margin-bottom: .5rem;
    }

    /* ========= End Footer ========= */

}
