:root {
    --Monument: Monument;
    --InterLight: Inter-light;
    --InterRegular: Inter-regular;
    --InterSemiBold: Inter-semibold;
}

body {
    font-family: 'Inter', sans-serif;
}

a {
    color: inherit;
    text-decoration: unset;
}

a:hover {
    color: unset;

}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


.container-fluid {
    width: 95%;
}

/* ========= Start Button ========= */
.btn-white {
    background-color: #FFF;
    border-radius: 0;
}

.btn-white:hover {
    background-color: #f5f5f5;
}

.btn-white:focus {
    box-shadow: none;
}

/* ========= End Button ========= */

/* ========= Start Layout ========= */

.grid-1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
}

.grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}

.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
}




/* ========= End Layout ========= */


/* ========= Start Navbar ========= */

.navbar .nav-item .nav-link.active {
    color: #000;
}

.navbar .nav-item .nav-link {
    font-size: 14px;
    color: #828282;
}

.navbar .navbar-text div {
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar .navbar-text div span {
    color: #828282;
    font-size: 13px;
}

/* ========= End Navbar ========= */


/* ========= Start Section Hero ========= */
.section-hero {
    position: relative;
    padding: 100px 0;
    overflow: hidden
}

.section-hero .hero-image {
    position: relative;
}

.section-hero .hero-image:before {
    position: absolute;
    content: "ID.";
    top: 35%;
    left: 38%;
    font-size: 75px;
}

.section-hero .hero-image img {
    animation: rotate 10s linear infinite forwards;
}

.section-hero .hero-text {}

.section-hero .hero-text h1 {
    font-family: var(--Monument);
    font-size: 140px;
    text-align: end;
    text-transform: uppercase;
}

.section-hero span.typed-text {
    color: #dd7732;
    position: relative;
}

.section-hero span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
}

.section-hero span.cursor.typing {
    animation: none;
}

.section-hero .hero-navigation {
    position: absolute;
    left: 3%;
    bottom: 0%;
}

.section-hero .hero-navigation img {
    width: 30%;
    margin-right: 1rem;
}

/* ========= End Section Hero ========= */


/* ========= Start Section Wording ========= */
.section-wording {
    position: relative;
    padding: 100px 0 0 0;
}

.section-wording p {
    font-family: var(--InterLight);
    text-transform: uppercase;
    font-size: 20px;
}

.section-wording .wording-image {
    margin-top: 100px;
}

/* ========= End Section Wording ========= */


/* ========= Start Section Services ========= */

.section-services {
    background-color: #111;
    padding: 80px 0;
}

.section-services .heading {}

.section-services .heading h2 {
    font-family: var(--Monument);
    font-size: 3.5rem;
    text-transform: uppercase;
    color: #FFF;
}

.section-services .heading p {
    color: rgba(255, 255, 255, 0.5);
    width: 30%;
}

.section-services .accordion {
    margin-top: 4rem;
}

.section-services .accordion-item {
    border-bottom: 1px solid #3d3d3d;
    background-color: inherit;
}

.section-services .accordion-button {
    font-size: 3rem;
    padding: 2.7rem 0;
}

.section-services .accordion-button::after {
    background-image: url(../images/vector/accordion-right.svg);
}

.section-services .accordion-button:not(.collapsed)::after {
    transform: rotate(-90deg);
}

.section-services .accordion-item:last-of-type .accordion-button.collapsed {
    border-radius: 0;
}

.section-services .accordion-button {
    background-color: #111;
    color: #FFF;
}

.section-services .accordion-button:not(.collapsed) {
    color: var(--bs-white);
    background-color: #111;
    box-shadow: none;

}

.section-services .accordion-button:focus {
    box-shadow: none;
}

.section-services .accordion-body {
    color: #FFF;
}

/* ========= End Section Services ========= */

/* ========= Start Section Client ========= */
.section-client {
    padding: 80px 0;
}

.section-client .heading {
    width: 20rem;
    margin: 0 auto;
}

.section-client .heading h3 {
    font-family: var(--InterLight);
    text-transform: uppercase;
    font-size: 22px;
}

.section-client .client-slide {
    text-align: center;
    position: relative;
    margin-top: 5rem;
}

/* .section-client .client-slide .swiper-button-prev {}

.section-client .client-slide .swiper-button-next {
    right: 5%;
    left: unset;
}


.section-client .client-slide .swiper-button-prev,
.section-client .client-slide .swiper-button-next {
    top: 0;
} */

.section-client .swiper {
    height: 430px;

}

.section-client .swiper-slide {
    height: 200px;
}


/* ========= End Section Client ========= */

/* ========= Start Project ========= */
.section-project-page {
    padding: 50px 0 100px;
}

.section-project-page .title-widget-filter {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 1rem;
}

.section-project-page .filter:not(:first-child) {
    margin-top: 3.5rem;
}

.section-project-page .filter .filter-content ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
}

.section-project-page .filter .filter-content ul li a {
    color: #828282;
}

.section-project-page .filter .filter-content ul li a.active {
    color: #000;
}

.section-project-page .filter .filter-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 0.5rem;
}

.section-project-page .filter .filter-content button {
    background: unset;
    border: 0;
    padding: 0;
    text-align: left;
    color: #828282;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;

}

.section-project-page .filter .filter-content button.active {
    color: #000;
    font-weight: 600;
}

.section-project-page .project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    margin-left: 1rem; */
}


.section-project-page .project-grid .project-item {
    /* width: 33%; */
    padding: 1rem;
    position: relative !important;
    left: unset !important;
    top: unset !important;
}

.section-project-page .project-grid .project-item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
    -o-object-fit: cover;
}

.section-project-page .project-grid figure .figure-caption {
    color: #333;
    margin-bottom: 0.5rem;
}

.section-project-page .project-grid .figure .figure-status {
    color: #828282;
    font-size: 12px;
}

.section-project-page .project-grid .figure .figure-content {
    font-size: 12px;
    color: #333;

}

/* ========= Start Project ========= */


/* ========= Start Contact ========= */
.section-contact-page {
    padding: 50px 0 100px;
}

.section-contact-page .heading .title {
    font-size: 64px;
    font-weight: 600;
    color: #000;
}

.section-contact-page .heading .sub {
    font-size: 1.5rem;
}

.section-contact-page .contact-widget-title {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.section-contact-page .nav-text h6 {
    color: #212529;
    width: 80%;
}

.section-contact-page .nav-text h5 a {}

.section-contact-page .social-media-text {
    margin-top: 2.5rem;
}

.section-contact-page .social-media-text ul {
    padding-left: 0;
}

.section-contact-page .social-media-text ul li {
    display: inline;
    text-transform: uppercase;
    font-size: 14px;
}

.section-contact-page .social-media-text ul li:not(:first-child) {
    margin-left: 1.5rem;
}



.section-contact-page .social-media ul li {
    display: inline;
}


.section-contact-page .social-media ul li a {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: var(--dark);
    background-color: #fff;
    font-size: 1rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.section-contact-page .form-contact {
    background-color: #0F0F0F;
    padding: 2rem;
}

.section-contact-page .form-contact .form-control {
    border-radius: 0;
    background-color: #0F0F0F;
    border: 0;
    border-bottom: 1px solid #FFF;
    color: #FFF;
}

.section-contact-page .form-contact input[type=text]::placeholder,
.section-contact-page .form-contact textarea::placeholder {
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
}

.section-contact-page .form-contact input[type=text]:focus,
.section-contact-page .form-contact textarea:focus {
    color: #FFF;
    box-shadow: unset;
}

.section-contact-page .line {
    background-color: #0a0a0a;
    opacity: .16;
    width: 100%;
    height: 1px;
    margin: 50px 0;
}

.section-contact-page .grid-contact-information {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    text-align: center;
}

.section-contact-page .grid-contact-information .grid-item {
    width: 70%;
    margin: 0 auto;
}

.section-contact-page .grid-contact-information .contact-widget-title {
    font-size: 28px;
    font-weight: 600;
}

.section-contact-page .grid-contact-information .caption {
    color: #828282;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.section-contact-page .grid-contact-information .link a {}

/* ========= End Contact ========= */


/* ========= Start Footer ========= */
.section-footer {
    background-color: #111111;
    padding: 80px 0 50px;
}

.section-footer .footer-logo {
    width: 60%;
    margin: 0 auto 1.5rem;
}

.section-footer .footer-title {
    font-size: 1.2rem;
    color: #fff;
}

.section-footer ul li:first-child {
    margin-top: 1.5rem;
}

.section-footer ul li {
    margin-top: 0.5rem;
}

.section-footer ul li a {
    color: #fff;
}

.section-footer .social-media ul li {
    display: inline;
}

.section-footer .input-group {
    margin-top: 1.5rem;
}

.section-footer .input-group .form-control {
    border-radius: 0;
    background: transparent;
    border: 0;
    border-bottom: 1px solid #FFF;
    margin-right: 1rem;
}

.section-footer .input-group .form-control:focus {
    box-shadow: none;
}

.section-footer .input-group p {
    font-size: 14px;
    margin-top: 2rem;
}


.section-footer .social-media ul li a {
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    padding: 0;
    text-decoration: none;
    text-align: center;
    color: #111111;
    background-color: #fff;
    font-size: 1rem;
    font-weight: normal;
    line-height: 2em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
}

.section-footer .footer-copyright {}

.section-footer .footer-copyright .copyright-text {
    color: rgba(255, 255, 255, 0.5);
}

.section-footer .footer-copyright .copyright-link a {
    color: #FFF;
}

.div-line {
    background-color: #FFF;
    opacity: 0.16;
    width: 100%;
    height: 1px;
    margin: 50px 0;
}

/* ========= End Footer ========= */
